<label>Title</label>
<input type="text" name="post[title]" value="<%= post.escape('title') %>">

<label>Body</label>
<textarea name="post[body]"><%= post.escape('body') %></textarea>

<input type="submit" class="submit">
